/* Estilo para el cuerpo */
body {
	margin: auto;
	background-color: #242f29;
	color: #d7e8dc;
	font-family: Bahnschrift Light;
}

/* Estilo para el menú cdel encabezado */
header {
  background: #DDEFE3;
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 600;
}
header .menu{
  display: flex;
  justify-content: space-around;
  align-items: center;
} 
header .menu ul{
  list-style: none;
  display: flex;
  justify-content: space-between;
}
a{
  text-decoration: none;
  font-size: 16px;
  color: #01200F;
  padding: 8px 15px;
  display: block;
}
a:hover{
  background: pink;
  border-radius: 15px;
}
header .menu ul li ul {
  display: flex;
  flex-direction: column;
}
header .menu ul li ul{
  position: absolute;
  background: rosybrown;
}
header .menu ul li ul li{
  width: 180px;
  position: relative;
}
header .menu ul li ul{
  display: none;
}
header .menu ul li:hover>ul{
  display: block;
}
/* El link del menú de la página en la que estemos posicionados 
tendrá un fondo oscuro para indicarle al usuario que el link se encuentra seleccionado.*/
.menu #active {
	color: #d7e8dc;
	background-color: #01200F;
  border-radius: 15px;
}

/* Establcer el márgen para las secciones de las páginas */
.sectionsize {
	margin: 0px 120px 0px 120px;
}

/* Estilo para el logo */
#logoconfig {
	height: 82px;
	padding: 0px 60px 0px 0px;
}

/*Estilo para ajustar la flecha de cursos*/
#arrowdown{
  width: 10px;
  padding: 0px 0px 2px 0px;
}

/* Estilo para los títulos que proporcionan al usuario información de dónde están ubicados*/
.pagetitle {
	padding: 15px 0px 0px 40px;
	color: #cee5d5;
	font-family: Franklin Gothic Medium;
	font-size: 50px;
	margin: 20px;
}

/* Estilo para algunas imágenes en home.html*/
.imgconfig {
	width: 150px;
	float: right;
	padding: 5px;
}

/* Estilo para la tabla de home.html*/
.newstable {
	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;
	margin-bottom: 25px;
}

h2 {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
		'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-weight: bold;
	color: #cee5d5;
	font-size: 25px;
	vertical-align: top;
}

h3 {
	font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode',
		Geneva, Verdana, sans-serif;
	font-weight: bold;
	color: #cee5d5;
	font-size: 25px;
	padding: 15px 15px 0px 20px;
}

/* Estilo los table datas de home.html*/
.tdhome {
	transition: transform 0.2s;
	vertical-align: top;
	padding: 0px 20px 0px 20px;
}

/* Estilo los table datas de home.html*/
.tdhome:hover {
	transform: scale(1.1);
}


/* Estilo para los párrafos*/
#parrafos {
	font-family: Helvetica, sans-serif;
	letter-spacing: 1.5px;
	font-weight: 100;
	font-size: small;
	line-height: 20px;
}



footer {
	width: 100%;
	height: 50px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	text-align: left;
	background: #ebfaf0;
	font-family: Bahnschrift SemiBold, Arial;
	align-items: center;
}


* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #ddefe3;
}
.background-1 {
  height: 100vh;

  background-image: url("Pagina1.jpg");
  background-color: black;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}
#login-path-1 {
  position: absolute;
}
#login-path-2 {
  position: absolute;
  right: 0px;
  bottom: 0;
}
#login-logo-1 {
  position: absolute;
  width: 200px;
  z-index: 2;
  margin: 50px;
}
#login-container {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}
.flex-vertical {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#register-path-1,#register-path-2{
'¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿'¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿¿
}
.center-center {
  justify-content: center;
  align-items: center;
}
input {
  padding: 7px 12px;
}

