* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #ddefe3;
}
body {
  background-color: #01200f;
}
#app {
  width: 100%;
}
.background-1 {
  height: 100vh;

  background-image: url("/Pagina1.jpg");
  background-color: black;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}
#login-path-1 {
  position: absolute;
}
#login-path-2 {
  position: absolute;
  right: 0px;
  bottom: 0;
}
#login-logo-1 {
  position: absolute;
  width: 200px;
  z-index: 2;
  margin: 50px;
}
#login-container {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}
.flex-vertical {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#register-path-1,
#register-path-2 {
  position: absolute;
}
#register-path-1 {
  right: 0;
}
#register-path-2 {
  bottom: 0;
}
#login-logo-2 {
  position: absolute;
  right: 0;
  width: 200px;
  z-index: 2;
  margin: 25px;
}
.center-center {
  justify-content: center;
  align-items: center;
}
input {
  padding: 7px 12px;
}
button,
a[href] {
  background: #104f55;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-weight: 600 !important;
  text-decoration: none;
  font-size: 0.9em;
  text-align: center;
  margin: 10px 7px;
  border-radius: 10px;
}
form {
  z-index: 10000;
}
.hero {
  height: 500px;
}
.hero.ciencias-naturales {
  background-image: url("/zebras.jpg");
  background-color: black;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}
.hero.quimica {
  background-image: url("/Chemistry.jpg");
  background-color: black;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}
.hero.programacion {
  background-image: url("/Programming.jpg");
  background-color: black;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}
.hero-blur {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  height: 100%;
  font-size: 2em;
}
.course-form-continer h3 {
  font-size: 2em;
}
.course-form-continer {
  width: 100%;
  margin: 20px 0;
}
.course-form {
  width: 50%;
  max-width: 500px;
  gap: 25px;
}
.course-form label {
  font-size: 1.2em;
  font-weight: 700;
}
.course-form input + label {
  font-size: 1em;
  font-weight: 400;
}
.course-form button {
  width: 30%;
  max-width: 100px;
}
.flex-container {
  display: flex;
}
.register-container {
  width: 100%;
}
.input-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 15px;
}
.input-group input {
  flex-grow: 1;
}
.horizontal-inputs {
  display: flex;
  width: 100%;
  gap: 10px;
}
.justify-sb {
  justify-content: space-between;
}
