* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #ddefe3;
}
.background-1 {
  height: 100vh;

  background-image: url("/Pagina1.jpg");
  background-color: black;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}
#login-path-1 {
  position: absolute;
}
#login-path-2 {
  position: absolute;
  right: 0px;
  bottom: 0;
}
#login-logo-1 {
  position: absolute;
  width: 200px;
  z-index: 2;
  margin: 50px;
}
#login-container {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}
.flex-vertical {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#register-path-1,
#register-path-2 {
  position: absolute;
}
#register-path-1 {
  right: 0;
}
#register-path-2 {
  bottom: 0;
}
#login-logo-2 {
  position: absolute;
  right: 0;
  width: 200px;
  z-index: 2;
  margin: 25px;
}
.center-center {
  justify-content: center;
  align-items: center;
}
input {
  padding: 7px 12px;
}
button,
a[href] {
  background: #104f55;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-weight: 600 !important;
  text-decoration: none;
  font-size: 0.9em;
  text-align: center;
  margin: 10px 7px;
  border-radius: 10px;
}
form {
  z-index: 10000;
}
